<li class="list-group-item d-flex justify-content-between align-items-center">
	{{this.id}}. {{this.burger_name}}
	<button class="recoverBtn btn btn-danger btn-sm" data-id="{{this.id}}" data-burger="{{this.burger_name}}">
		Recover!!!
	</button>
</li>